header{
    display: flex;
    align-items: center;
    padding: 20px;
}

.sea{
    display: flex;
    width: 80%;
    padding: 0px 150px 0px 150px;
}

.icons{
    display: flex;
    padding: 20px;
}

.ib{
    width:30px;
    padding: 10px;
}
    

#mainlogo{
    width: 70px;
    height: 40px;
    padding: 20px;
}

#bell{
    width: 15px;
    height: 15px;
}
#application{
    width: 15px;
    height: 15px;
}
#create{
    width: 15px;
    height: 15px;
}

#sidebar{
    position: absolute;
    right: 0px;
    top: 50px;
    height: 100%;
}
.search{
    width: 100%;
    height: 30px;
}

